<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.quiz.lesson06.mapper.BookMarkMapper">
 	<!-- lesson06 quiz01 insert -->
	<insert id="insertBookMark" parameterType="map">
		INSERT INTO `bookmark`
		( 
			`name`
			,`url`
			,`createdAt`
			,`updatedAt`
		)
		VALUES 
		(
			#{name}
			,#{url}
			,NOW()
			,NOW()
		)
	</insert>
	
	<!-- lesson06 quiz01 select -->
	<select id="selectBookMarkList" resultType="com.quiz.lesson06.domain.BookMark">
		SELECT
			`id`
			,`name`
			,`url`
			,`createdAt`
			,`updatedAt`
		FROM 
			`bookmark`
	</select>
	
	<!-- lesson06 quiz02_1 url 들어왔는지 여부 boolean  -->
	<!-- 0이면 false, 0이 아니면(중복이 있는셈) true -->
	<select id="isDuplicateByUrl" parameterType="String" resultType="boolean">
		SELECT COUNT(*) FROM
			`bookmark`
		WHERE
			`url` = #{url}	
	</select>
	
	<!-- lesson06 quiz02_2 delete 삭제 버튼 누르기 -->
	<!-- <delete id="deleteBookMarkList" parameterType="">
		DELETE FROM 
			`bookmark`
		WHERE
			`id` = #{id}
	</delete>	 -->
 </mapper>