<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.quiz.retry.lesson04.mapper.RealtorMapperRetry">
 	<!-- db에 insert -->
 	<insert id="insertRealtor" parameterType="com.quiz.retry.lesson04.domain.RealtorRetry"
 	useGeneratedKeys="true" keyProperty="id">
 		INSERT INTO `realtor`
 		(
 			`office`
			,`phoneNumber`
			,`address`
			,`grade`
			,`createdAt`
			,`updatedAt`
 		)
 		VALUES
 		(
 			#{name}
 			, #{phoneNumber}
 			, #{address}
 			, #{grade}
 			, NOW()
 			, NOW()
 		)
 	</insert>
 	
 	<!-- db에서 select -->
 	<select id="selectRealtorById" parameterType="int" resultType="com.quiz.retry.lesson04.domain.RealtorRetry">
 		SELECT
 			`id`
 			,`office`
			,`phoneNumber`
			,`address`
			,`grade`
			,`createdAt`
			,`updatedAt`
		FROM
			`realtor`
		WHERE
			`id` = #{id}
 	</select>
 </mapper>