<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.quiz.lesson03.mapper.RealEstateMapper">
 	<!-- lesson03 quiz01_1 select -->
 	<select id="selectRealEstateMapperById" parameterType="int" resultType="com.quiz.lesson03.domain.RealEstate">
 		SELECT
 			`id`
			,`realtorId`
			,`address`
			,`area`
			,`type`
			,`price`
			,`rentPrice`
			,`createdAt`
			,`updatedAt`
 		FROM
 			`real_estate`
 		WHERE
 			`id` = #{id}	
 	</select>
 	
 	<!-- lesson03 quiz01_2 select -->
 	<select id="selectRealEstateMapperByRentPrice" parameterType="int" resultType="com.quiz.lesson03.domain.RealEstate">
 		SELECT
 			`id`
			,`realtorId`
			,`address`
			,`area`
			,`type`
			,`price`
			,`rentPrice`
			,`createdAt`
			,`updatedAt`
		FROM
			`real_estate`
		WHERE
			 <![CDATA[
        `rentPrice` < #{rentPrice} 
        ]]>
 	</select>
 	
 	<!-- lesson03 quiz01_3 select -->
 	<select id="selectRealEstateMapperByAreaAndPrice" parameterType="map" resultType="com.quiz.lesson03.domain.RealEstate">
 		SELECT
 			`id`
			,`realtorId`
			,`address`
			,`area`
			,`type`
			,`price`
			,`rentPrice`
			,`createdAt`
			,`updatedAt`
		FROM
			`real_estate`
		WHERE
			`type` = '매매'
			AND <![CDATA[ `area` >= #{area} ]]>
        	AND <![CDATA[ `price`<= #{price}]]>
        ORDER BY 
        	`createdAt` DESC
 	</select>
 	
 	<!-- lesson03 quiz02_1 insert -->
 	<insert id="insertRealEstate" parameterType="com.quiz.lesson03.domain.RealEstate">
 		INSERT INTO `real_estate`
 		(
 			`realtorId`
			,`address`
			,`area`
			,`type`
			,`price`
			,`rentPrice`
			,`createdAt`
			,`updatedAt`
 		)
 		VALUES
 		(
 			#{realtorId}
 			,#{address}
 			,#{area}
 			,#{type}
 			,#{price}
 			,#{rentPrice}
 			, NOW()
 			, NOW()
 		)
 	</insert>
 	
 	<!-- lesson03 quiz02_2 insert -->
 	<insert id="insertRealEstateAsField" parameterType="map">
 		INSERT INTO `real_estate`
 		(
 			`realtorId`
			,`address`
			,`area`
			,`type`
			,`price`
			,`rentPrice`
			,`createdAt`
			,`updatedAt`
 		)
 		VALUES
 		(
 			#{realtorId}
 			,#{address}
 			,#{area}
 			,#{type}
 			,#{price}
 			,#{rentPrice}
 			, NOW()
 			, NOW()
 		)
 	</insert>
 	
 	<!-- lesson03 quiz03 update -->
 	<update id="updateRealEstateAsField" parameterType="map">
 		UPDATE `real_estate`
 		SET 
 			`type` = #{type},
 			`price` = #{price},
 			`updatedAt` = NOW() <!-- 근데 여기까지만 하면 모든행들이 다 바뀌므로, id가 들어온 그 행만 하도록 where문을 아래에 써준다. -->
 		WHERE
 			`id` = #{id}
 	</update>
 	
 	<!-- lesson03 quiz04 delete -->
 	<delete id="deleteRealEstateById" parameterType="int">
 		DELETE 
 		FROM
 			`real_estate`
 		WHERE
 			`id`=#{id}
 	</delete>
 </mapper>