<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.quiz.retry.lesson04.mapper.SellerMapperRetry2">
 	<!-- lesson04 quiz01 - insert -->
 	<insert id="insertSellerRetry2" parameterType="com.quiz.retry.lesson04.domain.SellerRetry2">
 		INSERT INTO `seller`
 		(
 			`nickname`
			,`profileImageUrl`
			,`temperature`
			,`createdAt`
			,`updatedAt`
 		)
 		VALUES
 		(
 			#{nickname}
 			,#{profileImageUrl}
 			,#{temperature}
 			,NOW()
 			,NOW()
 		)
 	</insert>
 	
 	<!-- lesson04 quiz01 - select -->
 	<select id="selectSellerRetry2" resultType="com.quiz.retry.lesson04.domain.SellerRetry2">
 		SELECT 
 			`id`
 			,`nickname`
			,`profileImageUrl`
			,`temperature`
			,`createdAt`
			,`updatedAt`
		FROM 
			`seller`
		ORDER BY `id` DESC
		LIMIT 1
 	</select>
 </mapper>