<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="utf-8">
    <title>가장 최근에 추가된 seller 테이블</title>
    <!-- bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
</head>
<body>
	<h3 class="container font-weight-bold"> 가장 최근에 추가된 seller </h3>
	<div class="container text-center font-weight-bold">
		<table class="table">
			<thead>
				<th>No</th>
				<th>닉네임</th>
				<th>온도</th>
				<th>프로필 사진 url</th>
			</thead>
			<tbody>
				<tr th:each="result, status : ${sellerInfo}">
					<td th:text="${status.count}"></td>
					<td th:text="${result.nickname}"></td>
					<td th:text="${result.temperature}"></td>
					<td th:text="${result.profileImageUrl}"></td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>