<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="utf-8">
    <title>예약 조회 페이지</title>
    <!-- bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
</head>
<style>
	header {min-height: 60px}
	nav {min-height: 40px}
	.banner {min-height: 300px}
	.reserve, .left, .center, .right {min-height: 150px}
	footer {height: 80px}
</style>
<body>
	<div id="wrap" class="container">
		<header class="d-flex justify-content-center align-items-center">
			<h2 class="font-weight-bold">통나무 펜션</h2>
		</header>
		<nav class="bg-warning">
			<ul class="nav nav-fill w-100">
				<li class="nav-item"><a class="nav-link text-white font-weight-bold" href="#">펜션소개</a></li>
				<li class="nav-item"><a class="nav-link text-white font-weight-bold" href="#">객실보기</a></li>
				<li class="nav-item"><a class="nav-link text-white font-weight-bold" href="/retry/booking/make-booking-view">예약하기</a></li>
				<li class="nav-item"><a class="nav-link text-white font-weight-bold" href="/retry/booking/booking-list-view">예약목록</a></li>
			</ul>
		</nav>
		<section class="contents">
			<div class="banner bg-info">
				
			</div>
			<div class="reserve bg-warning">
				<div class="d-flex">
					<div class="left bg-primary text-white font-weight-bold mt-5 col-4">
						<h1 class="d-flex justify-content-center align-items-center">실시간</h1>
						<h1 class="d-flex justify-content-center align-items-center">예약하기</h1>
					</div>
					<div class="center bg-danger col-4">
						<div class="center-top">
							<h5 class="text-white pt-2 ml-2">예약확인</h5>
						</div>
						<div class="center-bottom pt-2">
							<div class="d-flex">
								<div class="text-white mr-5">이름</div>
								<input type="text" id="name" class="form-control col-8">
							</div>
							<div class="d-flex mt-3">
								<div class="text-white mr-3">전화번호</div>
								<input type="text" id="phoneNumber" class="form-control col-8">
							</div>
							<div class="d-flex justify-content-end">
								<input type="submit" value="조회하기" class="checkBtn form-control col-4 btn btn-success mt-3"> 
							</div>
						</div>
					</div>
					<div class="right text-white font-weight-bold bg-secondary col-4">
						<div class="d-flex justify-content-center">예약문의:</div>
						<div class="d-flex justify-content-center">010</div>
						<div class="d-flex justify-content-center">0000-1111</div>
					</div>
				</div>
			</div>
		</section>
		<footer>
			<div class="text-secondary">
				<span>제주특별자치도 제주시 애월읍</span><br>
				<span>사업자 등록번호:111-22-255222 / 농어촌민박사업자지정 / 대표:김통목</span><br>
				<span>CopyRight 20XX tongnamu.All Right reserved.</span>
			</div>
		</footer>
	</div>
</body>
<script>
	$(document).ready(function() {
		// checkBtn 버튼 클릭 이벤트
		$('.checkBtn').on('click', function() {
			// alert("중간점검");
			// validation
			let name = $("#name").val().trim();
			let phoneNumber = $("#phoneNumber").val().trim();
			// 유효성 검사
			if (!name) {
				alert("이름을 입력하세요.");
				return;
			}
			if (!phoneNumber) {
				alert("전화번호를 입력하세요.");
				return;
			}
			// 콘솔로 확인
			console.log(name);
			console.log(phoneNumber);
			
			$.ajax({
				// request
				type:"post"
				, url:"/retry/booking/check-bookingList"
				, data:{"name":name, "phoneNumber":phoneNumber}
			
				// response
				, success:function(data) {
					if (data.code == 200) { // 존재함 예약조회 O
						let booking = data.isExist[0]; 
						// data.isExist는 리스트임. 왜냐? 내가 앞서 List로 받아왔기 때문에. 
						// 리스트의 각 항목에 접근하지 않고 바로 리스트 그자체에 접근하려 했기 때문에 문제가 발생.
						// 따라서 (예약자가 한 명으로 겹치지 않는 다는 가정하에) 0번쨰 즉, 첫번째 예약자의 정보( data.isExist[0] )를 일단 꺼내야 함.
						alert("이름 : " + booking.name 
								+ "\n전화번호 : " + booking.phoneNumber
								+ "\n일수 : " + booking.day
								+ "\n인원 : " + booking.headcount
								+ "\n상태 : " + booking.state);
						alert("예약내역이 존재합니다. 예약목록 화면으로 이동합니다.");
						location.href = "/retry/booking/booking-list-view"
					} else if (data.code == 500) { // 존재하지 않음 얘약조회 X
						alert("예약내역이 존재하지 않습니다.");
					}
				}
				, error:function(error) {
				 	alert("서버상의 에러입니다.");	
				}
			}); // AJAX 끝.
		}); // checkBtn 버튼 클릭 이벤트 끝.	
	}); // ready 함수 끝.
</script>
</html>