<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="utf-8">
    <title>예약 목록</title>
    <!-- bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
</head>
<style>
	header {min-height: 80px}
	.menu {min-height: 40px}
	.contents {min-height: 400px}
	footer {height: 100px}
</style>
<body>
	<div id="wrap" class="container text-center">
		<header class="d-flex justify-content-center align-items-center">
			<h1>통나무 펜션</h1>
		</header>
		<nav class="menu d-flex align-items-center bg-warning">
			<ul class="nav nav-fill w-100 text-white font-weight-bold">
				<li class="nav-item"><a class="nav-link menu-font text-white" href="#">펜션소개</a></li>
				<li class="nav-item"><a class="nav-link menu-font text-white" href="#">객실보기</a></li>
				<li class="nav-item"><a class="nav-link menu-font text-white" href="/booking/make-booking-view">예약하기</a></li>
				<li class="nav-item"><a class="nav-link menu-font text-white" href="/booking/booking-list-view">예약목록</a></li>
			</ul>
		</nav>
		
		<section class="contents">
			<h4 class="pt-4 font-weight-bold">예약 목록 보기</h4>
			<table class="table container">
				<thead>
					<th>이름</th>
					<th>예약날짜</th>
					<th>숙박일수</th>
					<th>숙박인원</th>
					<th>전화번호</th>
					<th>예약상태</th>
					<th></th>
				</thead>
				<tbody>
					<tr th:each="listInfo, status : ${bookingList}">
						<td th:text="${listInfo.name}"></td>
						<td th:text="${#temporals.format(listInfo.date, 'yyyy년 M월 dd일')}"></td>
						<td th:text="${listInfo.day}"></td>
						<td th:text="${listInfo.headcount}"></td>
						<td th:text="${listInfo.phoneNumber}"></td>
						<td th:text="${listInfo.state}"></td>
						<td>
							<button type="button" th:data-booking-id="${listInfo.id}" class="deleteBtn btn btn-danger">삭제</button>
						</td>
					</tr>
				</tbody>
			</table>
		
		
		</section>
		
		<footer class="text-secondary">
			<small class="d-flex justify-content-start">제주특별자치도 제주시 애월읍</small>
			<small class="d-flex justify-content-start">사업자등록번호: 111-22-2552222 / 농어촌민박사업자지정 / 대표:김통목</small>
			<small class="d-flex justify-content-start">Copyright 20XX tongnamu. All Rights reserved.</small>
		</footer>
	</div> 
</body>

<script>
	$(document).ready(function() {
		$(".deleteBtn").on('click', function() {
			// 데이터로 가져오기
			let id = $(this).data("booking-id");
			// alert(id);
			$.ajax({
				// request
				type: "delete"
				,url: "/booking/delete-bookingList"
				,data:{"id":id}
				// response
				, success:function(data) {
					if (data.code == 200) {
						// 삭제 성공.
						location.reload(); 				
					} else if (data.code == 500) {
						// 삭제 실패.
						alert(data.errorMessage);
					}
				}
				, error:function(error) {
					alert("서버상의 에러입니다.");
				}
			}); // AJAX 끝.
		}); // deleteBtn버튼 클릭 이벤트 끝.
	}); // ready 함수 끝.
</script>
</html>