<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="utf-8">
    <title>즐겨찾기 추가하기 화면</title>
    <!-- bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
</head>
<body>
	<h3 class="container font-weight-bold">즐겨찾기 추가하기</h3>
	<div class="container font-weight-bold">
		<label for="name">제목</label> 
		<input type="text" id="name" name="name" class="form-control mb-3"> 
		<label for="url">주소</label>
		<div class="d-flex">
			<input type="text" id="url" name="url" class="form-control mb-3"> 
			<button type="button" id="checkBtn" class="form-control col-3 ml-3 btn btn-info">중복확인</button>
		</div>
		
		<small id="duplicationText" class="d-none font-weight-bold text-danger">중복된 url입니다.</small>
		<small id="notDuplicationText" class="d-none font-weight-bold text-danger">저장가능한 url입니다.</small>
		<small id="nameStatusArea"></small>
		<input type="button" id="addBtn" value="추가" class="btn btn-success col-12">
	</div>
</body>
<script>
	$(document).ready(function() {
		// addBtn(추가)버튼 클릭 이벤트.
		$("#addBtn").on('click', function() {
			// alert("중간 점검");
			let name = $("#name").val().trim();
			let url = $("#url").val().trim();
			
			// 모든 칸에 입력되었는가?
			if (!name) {
				alert("제목을 입력하세요.");
				return;
			} else if (!url) {
				alert("url을 입력하세요.");
				return;
			}
			
			// http혹은 https 프로토콜이 모두 입력되었는지? -  - 여기서 왜 or이 아니라 and인지 다시 한 번 생각.
			if (!url.startsWith("http://") && !url.startsWith("https://")) {
				alert("주소 형식이 잘못되었습니다.");
				return;
			}
			
			// AJAX  
			$.ajax({
				// request
				type:"post"
				, url:"/retry/lesson06/quiz01/bookmarkList" // postmapping 주소
				, data: {"name":name, "url":url}
				// response
				,success:function(data) {
					if (data.message == "성공~!") {
						location.href = "/retry/lesson06/quiz01/final-bookmarkList"; 					
					}
				}
				, error:function(error) {
					alert("아예 코드상의 error입니다!");
				}
			}); // AJAX 끝.
		}); // addBtn(추가)버튼 클릭 이벤트 끝.
		
		// checkBtn(중복확인) 버튼 클릭 이벤트
		$("#checkBtn").on('click', function() {
			// alert("중간점검");
			
			// nameStatusArea 초기화
			$("#nameStatusArea").empty();
			
			// validation
			let url = $("#url").val().trim();
			if (!url) {
				$("#nameStatusArea").append('<span class="text-danger font-weight-bold">url이 비어있습니다.</span>');
				return;
			}
			
			// db에서 AJAX 중복여부 확인 
			$.ajax({
				// request
				type: "post"
				, url: "/retry/lesson06/quiz01/check-duplicate-by-count"
				, data: {"url":url}
				// response
				
				,success:function(data) {
					if (data.yesDuplicate) { // 중복이면~
						$("#duplicationText").removeClass("d-none");
						$("#notDuplicationText").addClass("d-none");
					} else { // 중복이 아니면~
						$("#duplicationText").addClass("d-none");
						$("#notDuplicationText").removeClass("d-none");
					}
				}
				,error:function(error) {
					alert("아예 서버상의 error입니다.");
				}
			}); // AJAX 끝.
		}); // checkBtn(중복확인) 버튼 클릭 이벤트 끝.
	}); // ready함수 끝.
</script>
</html>